<div class="content-top">
  <div class="top-item">
    <div class="left-info">
      <img src="../../../../../assets/images/icon_flow.png" />
    </div>
    <div class="right-info">
      <div>今日实时总流量</div>
      <div>{{dynamicsRecord.flows? dynamicsRecord.flows : 0}}</div>
    </div>
  </div>
  <span></span>
  <div class="top-item">
    <div class="left-info">
      <img src="../../../../../assets/images/icon_money.png" />
    </div>
    <div class="right-info">
      <div>今日实时收入(元)</div>
      <div>{{dynamicsRecord.income? dynamicsRecord.income : 0}}</div>
    </div>
  </div>
  <span></span>
  <div class="top-item">
    <div class="left-info">
      <img src="../../../../../assets/images/icon_parking_place.png" />
    </div>
    <div class="right-info">
      <div>车位总数</div>
      <div>{{dynamicsRecord.parking_spots? dynamicsRecord.parking_spots : 0}}</div>
    </div>
  </div>
  <span></span>
  <div class="top-item">
    <div class="left-info">
      <img src="../../../../../assets/images/icon_parking.png" />
    </div>
    <div class="right-info">
      <div>停车场总数</div>
      <div>{{dynamicsRecord.parkings? dynamicsRecord.parkings : 0}}</div>
    </div>
  </div>
</div>
