<div class="photo-select-wrap" *ngIf="isShowMinImg">
  <div *ngFor="let image of imageList; let index = index" (click)="zoomPicture(index)"
       [ngClass]="{'not-cursor': hasDeletePicture}"
       [ngStyle]="{width: imageWidth + 'px', height: imageHeight + 'px', 'line-height': transformLineHeight + 'px'}">
    <img [src]="image.showUrl">
    <span class="delete-icon" *ngIf="hasDeletePicture" (click)="deletePicture(index)"></span>
    <div class="progress-bg" [ngStyle]="{width: imageWidth + 'px', height: imageHeight + 'px'}">
      <p class="progress-wrap">
        <span class="progress-bar progress-bar-info progress-bar-striped"></span>
      </p>
    </div>
  </div>
  <div class="select-wrap" *ngIf="imageList.length<10&&hasAddPicture"
       [ngStyle]="{width: imageWidth + 'px', height: imageHeight + 'px'}">
    <input type="file" name="file" id="file" #importFileInput (change)="selectPicture($event, importFileInput)">
    <label for="file"></label>
  </div>
</div>

<!-- 图片查看模态框 -->
<div class="modal fade image-modal" data-backdrop="false" data-keyboard="true" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #imageModal>
  <div class="modal-dialog" #zoomPictureModal>
    <div class="modal-content" [ngStyle]="{'line-height': transformZoomLineHeight + 'px'}">
      <div class="modal-body img-list" *ngIf="(imageList.length>0)&&(!hasDeletePicture)">
        <div class="lside-img-arrow" (click)="selectedShowImage(true)"
             [class.invisible]="currentImgNum==1 || imageList.length<=1"></div>
        <ul>
          <li *ngFor="let source_url of imageList;let index=index"
              [ngStyle]="{'z-index': currentImgNum==(index+1) ? '1' : '0'}">
            <div *ngIf="currentImgNum==(index+1)">
              <img [src]="source_url.showUrl">
              <a><span class="current-page">{{currentImgNum}}</span>/{{imageList.length}}</a>
            </div>
          </li>
        </ul>
        <div class="rside-img-arrow" (click)="selectedShowImage(false)"
             [class.invisible]="currentImgNum==imageList.length"></div>
      </div>
    </div>
    <div class="close-img" (click)="closeShowZoomPicture()"></div>
  </div>
</div>
