/*提示模态框*/
.modal {
  background: transparent;
  z-index: 1200;
}

.modal-dialog {
  width: 370px;
  height: 300px !important;
  min-height: 300px !important;
}

.modal-content {
  height: auto;
  box-shadow: none;
  border: 4px solid rgba(0, 0, 0, .2);
  margin: 50% auto auto auto;
}

.modal-body {
  text-align: center;
  padding: 0
}

@-webkit-keyframes fade-in { /*针对webkit内核*/
  0% {
    opacity: 0;
  }
  7.5% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
}

.modal-warning-icon {
  width: 55px;
  height: 55px;
  background: url('../../../../../assets/images/icon_group1.png') 140px 70px;
  margin: 10px auto;
}

.form-horizontal {
  margin: auto;
  width: auto;
}
