<div class="view">
  <div class="fs-container">
    <div class="fs-map-center">
<!--      <app-full-bicycle-heat-map sourceHeight="1080" sourceWidth="3840" [isNewBicycleScreen]=true-->
<!--                                 sourceRadius='16'>-->
<!--      </app-full-bicycle-heat-map>-->
    </div>
    <div class="fs-header">
      <div class="left">
      </div>
      <div class="center">菏泽静态交通平台</div>
      <div class="right">
      </div>
    </div>
    <div class="fs-content-left">
      <div class="fs-content">
        <app-left-one style="flex:1"></app-left-one>
        <app-left-two style="flex: 1"></app-left-two>
        <app-left-three style="flex: 1"></app-left-three>
        <app-left-four style="flex: 1"></app-left-four>
        <app-left-five style="flex: 1"></app-left-five>
      </div>
    </div>
    <div class="fs-content-right">
      <div class="fs-content">
        <app-right-one></app-right-one>
        <app-right-two></app-right-two>
        <app-right-three></app-right-three>
        <app-right-four></app-right-four>
        <app-right-five></app-right-five>
        <app-right-six></app-right-six>
      </div>
    </div>

    <i class="bg-bottom-fs-container-line"></i>
  </div>
</div>
