<app-full-screen-item title="路内实时动态" headerBgType="4">
    <div class="item-content item-table">
        <ul class="item-table-header">
            <li>行政区</li>
            <li>发现量</li>
            <li>接受量</li>
            <li>已处理</li>
            <li>正在处理</li>
            <li>未处理</li>
        </ul>
        <!--        <ul class="item-table-body" #scrollDiv (mouseenter)="onScrollDivMouseEnter()"-->
        <!--            (mouseleave)="onScrollDivMouseLeave()">-->
        <!--            <li *ngFor="let dataItem of dataList">-->
        <!--                <div>{{dataItem.source.region_code|fullRegionCode}}</div>-->
        <!--                <div>{{dataItem.source?.dispose_info.found_count||0}}</div>-->
        <!--                <div>{{dataItem.source?.dispose_info.receive_count||0}}</div>-->
        <!--                <div>{{dataItem.source?.dispose_info.already_disposed_count||0}}</div>-->
        <!--                <div>{{dataItem.source?.dispose_info.disposing_count||0}}</div>-->
        <!--                <div>{{dataItem.source?.dispose_info.undisposed_count||0}}</div>-->
        <!--            </li>-->
        <!--        </ul>-->
    </div>
</app-full-screen-item>
