.chart-item-content {
  display: flex;
  justify-content: space-evenly;
}

.chart-dashboard {
  width: 235px;
  height: 250px;
  display: inline-block;
}

.chart-detail {
  min-width: 220px;
  width: 40%;
  height: 250px;
  display: inline-block;
  overflow: hidden;
}

.chart-header {
  margin-top: 15px;
  margin-right: 15px;
}

.chart-progress-1 {
  margin-top: 105px;
  overflow: hidden;
  width: 100%;
  padding: 0 25px 0 15px;
}

.chart-progress-2 {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  padding: 0 25px 0 15px;
}
