.content-flow {
  height: calc(100% - 124px);
}

/* 表格 详情 */
.table-detail-container {
  background: #fff;
  padding: 80px 70px;
  margin: 20px;
  height: calc(100% - 40px);
  border-radius: 4px;
}

.table-detail-container table {
  text-align: center;
  word-break: break-all;
  width: 100%;
  margin: 0;
}

.table-detail-container table tr {
  height: 44px;
}

.table-detail-container table tr>td {
  font-size: 14px;
  padding: 4px 8px;
  vertical-align: middle;
  border: 1px solid #e8e8e8;
  cursor: default;
  font-weight: 100;
  word-break: break-all;
}

.table-detail-container table>thead tr>th {
  background-color: #F7F8FA;
}

.table-detail-container table tr>td:last-child {
  text-align: left;
  padding: 4px 20px 4px 54px;
  color: #666;
}

.table-detail-container table tr>td:first-child {
  text-align: right;
  padding: 0 20px;
  width: 200px;
  background: #FAFBFE;
  color: #333;
}

.z-form-horizontal {
  margin: 20px auto auto 90px !important;
}

.disable-cursor {
  cursor: not-allowed !important;
}

.check-group > span {
  margin-right: 5px;
}

.parking-type {
  margin-right: 15px;
}
