<app-full-screen-item width="780" title="实时状态" headerBgType="1">
  <ul class="real-container">
    <li>
      <h5>车场数</h5>
      <div class="count">415</div>
    </li>
    <li>
      <h5>泊位数</h5>
      <div class="count">415</div>
    </li>
    <li>
      <h5>车流量</h5>
      <div class="count orange">415</div>
    </li>
    <li>
      <h5>在线率</h5>
      <div class="count orange">415</div>
    </li>
    <li>
      <h5>车位填充率</h5>
      <div class="count orange">415</div>
    </li>
    <li>
      <h5>车位周转率</h5>
      <div class="count">415</div>
    </li>
    <li>
      <h5>用户数</h5>
      <div class="count">415</div>
    </li>
    <li>
      <h5>车辆数</h5>
      <div class="count orange">415</div>
    </li>
    <li>
      <h5>资金结算</h5>
      <div class="count orange">415</div>
    </li>
  </ul>
</app-full-screen-item>
